.git
.gitignore
.env
*.env
.env.*
!.env.example
node_modules
*/node_modules
build
*/build
dist
*/dist
__pycache__
*/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
*/.pytest_cache
test_reports
.idea
.vscode
*.log
.DS_Store
